<%= form_tag '/client/routes', method: :post do %>
  <div>
    From: <input type="text" name="input_from">
  </div>
  <div>
    To: <input type="text" name="input_to">
  </div>
  <div>
    <input type="submit" value="Find Route">
  </div>
<% end %>